@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /*viewport height take up the entire height of the browser, the viewport*/
  overflow: hidden; /*hidden scrollbars*/
  padding: 30px;
}

.container {
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 600px;
}

h3 {
  margin: 0;
  letter-spacing: 2px;
}

.quote {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  margin: 40px auto 20px auto;
  max-width: 400px;
}

.author {
  margin: 0 auto 40px auto;
  font-style: italic;
}

.btn {
  background-color: lightblue;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}
