@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: lightseagreen;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.btn {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  color: lightseagreen;
  margin: 1rem;
  padding: 20px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.95;
}

img {
  display: block;
  margin-top: 10px;
  width: 100%;
  max-width: 150px;
  object-fit: cover;
}

a {
    text-decoration: none;
    color: #000;
    transition: color .4s ease;
}

a:hover {
    color: #fff;
}

p {
    color: #fff;
}

@media (min-width: 800px) {
  #buttons {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}
